.box_1 {
    width: 250px;
    height: 350px;
    background-color: rgb(145, 68, 68);
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: #fff;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rbga(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.box_2 {
    width: 250px;
    height: 350px;
    background-color: rgb(145, 68, 68);
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: #fff;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rbga(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.animals{
    width:200px;
    height:30px;
    background-color:rgb(84, 12, 12);
    border-radius: 30px;
    border: none;
    font-size:14px;
    padding: 6px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rbga(0, 0, 0, 0.2);
    color: #fff;
}
.celebrities{
    width:200px;
    height:30px;
    background-color:rgb(84, 12, 12);
    border-radius: 30px;
    border: none;
    font-size:14px;
    padding: 6px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rbga(0, 0, 0, 0.2);
    color: #fff;
}
.flags{
    width:200px;
    height:30px;
    background-color:rgb(84, 12, 12);
    border-radius: 30px;
    border: none;
    font-size:14px;
    padding: 6px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rbga(0, 0, 0, 0.2);
    color: #fff;
}
.start_btnA{
    width:200px;
    height:30px;
    background-color:rgb(84, 12, 12);
    border-radius: 30px;
    border: none;
    font-size:14px;
    padding: 6px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rbga(0, 0, 0, 0.2);
    color: #fff;
}
